@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~stream-chat-react/dist/css/v2/index.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.str-chat {
  --str-chat__font-family: inherit;
 /* --str-chat__primary-color: theme(colors.primary.DEFAULT);  the color of the logo */
  --str-chat__on-primary-color: theme(colors.primary.foreground); /* the color of the text within logo */
  --str-chat__active-primary-color: theme(colors.primary.foreground);
  --str-chat__primary-color-low-emphasis: color-mix(
    in hsl,
    hsl(var(--primary)) 10%,
    transparent
  );
  --str-chat__text-color: theme(colors.foreground); /* the color of the text */
  --str-chat__text-low-emphasis-color: theme(colors.foreground); 
  --str-chat__opaque-surface-text-color: theme(colors.foreground); 
  --str-chat__opaque-surface-text-color: theme(colors.foreground); 
  --str-chat__background-color: theme(colors.card.DEFAULT); /* the background color of the chat box*/
  --str-chat__secondary-background-color: theme(colors.card.DEFAULT); /* the background color of the chats name*/
  --str-chat__message-textarea-background-color: theme(colors.background); /* the place where we type the message */
  --str-chat__channel-preview-active-background-color: theme(
    colors.accent.DEFAULT
  );
  --str-chat__channel-preview-hover-background-color: var(
    --str-chat__channel-preview-active-background-color
  );
  --str-chat__secondary-surface-color: theme(colors.muted.DEFAULT);
  --str-chat__own-message-bubble-color: theme(colors.primary.foreground);
  --str-chat__primary-surface-color: theme(colors.primary.DEFAULT); /* the color of the my chat bubbble */
  --str-chat__primary-surface-color-low-emphasis: var(
    --str-chat__primary-color-low-emphasis
  );
  --str-chat__disabled-color: theme(colors.muted.DEFAULT);
  --str-chat__cta-button-border-radius: var(--radius);
}

.str-chat-channel-list {
  border-right: none;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0;
}

.str-chat__channel-search-bar-button--exit-search {
  display: none;
}